name: Node.js CI

on: 
  - push
  - pull_request

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Use Node.js
      uses: actions/setup-node@v5
      with:
        node-version: 18
        cache: yarn

    - run: yarn install --frozen-lockfile
    - run: yarn run build
    - run: yarn test
      env:
        CI: true
